body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.display-flex {
  display: flex;
}

/* Header Area Style CSS */
.welcome-area {
  margin: 10px 50px 0px;
}
.half-width {
  width: 50%;
  padding-right: 50px;
}
.title-bar {
  width: 0.5%;
  background: #ff5959;
  height: 125px;
  margin-top: 268px;
  border-radius: 5px;
}
.welcome-title {
  font-size: 60px;
  line-height: 80px;
  padding-left: 10px;
  margin-top: 250px;
  margin-bottom: 0;
  width: 99.5%;
}
.orange-text {
  color: orange;
}
.welcome-area p {
  font-size: 18px;
  line-height: 28px;
}
.link-btn {
  background: #ff5959;
  padding: 15px 35px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
}
.half-width img {
  width: 90%;
  display: block;
  margin-left: auto;
}

/* Mission Area Style CSS */
.mission-area {
  margin: 150px 10px 0;
}
.section-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  margin: 0;
}
.mission-details {
  margin-top: 20px;
}
.single-mission {
  width: 30%;
  margin: 2%;
  padding: 20px 30px;
  border-radius: 15px;
}
#mission-1 {
  background: rgba(79, 157, 166, 0.1);
}
#mission-2 {
  background: rgba(255, 89, 89, 0.1);
}
#mission-3 {
  background: #fff4d6;
}
.single-mission-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}
.single-mission p {
  line-height: 24px;
}
.single-mission img {
  width: 50%;
  margin-bottom: 15px;
  display: block;
  margin-left: 0;
}

/* Develop Area CSS Style */
.develop-area {
  margin: 100px 50px 0;
  background: url(../images/shapes/shape-1.png) no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}
.featured-img img {
  width: 95%;
}
.featured-text {
  padding-left: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-top: 150px;
}
.featured-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
}
.width-40 {
  width: 40%;
}
.width-60 {
  width: 60%;
}

/* Global Community Area CSS Style */
.global-community-area {
  margin: 100px 50px 0;
}
.global-text {
  padding-right: 30px;
}
.global-img img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* Team Members Area Start */
.team-area {
  margin: 130px 50px 0;
}
.team-members {
  margin-top: 30px;
}
.single-member {
  text-align: center;
  padding: 10px;
  width: 22%;
  margin: 2%;
  border: 5px solid;
  border-image: linear-gradient(180deg, #ff5959, orange);
  border-image-slice: 1;
}
.single-member h4 {
  margin: 0;
}
.single-member img {
  width: 80%;
  height: 350px;
  margin-bottom: 20px;
}

/* Contact Area CSS Style */
.contact-area {
  margin: 150px 50px 0;
}
.contact-address {
  background: url(../images/shapes/shape-2.png) no-repeat;
  background-size: cover;
  color: rgb(231, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
}
.contact-address h4 {
  margin: 0;
  font-style: oblique;
}
.contact-address p {
  margin: 0;
  font-weight: lighter;
  line-height: 40px;
}
.contact-us {
  margin-left: 50px;
}
.contact-form input,
.contact-form textarea {
  display: block;
  width: 70%;
  margin: 15px 0;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #000;
}
.contact-form textarea {
  resize: none;
}
.submit {
  background: #ff5959;
  padding: 13px 35px;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
}

/* Footer Area CSS Style */
.footer-area {
  margin-top: 100px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 40px 0 50px;
}
.footer-area h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
}
